<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Borrar</h1>
    <% users.forEach(user =>{ %>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
        </tr>
        <tr>
            <td><%= user.id %>  </td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
        </tr>
    </table>
    <!-- agregar usuario -->
    <h1>Estas seguro que quieres borrar este usuario?</h1>
    <table>
    <tr>
        <th><a href="/deletefrfr?id=<%= user.id %>">Eliminar</a></th>
        <th><a href="/">Cancelar</a></th>
    </tr>
    </table>
    <% }); %>
</body>
</html>