@import "https://fonts.googleapis.com/css?family=VT323";
body,
h1,
h2,
h3,
h4,
p,
a {
  color: #e0e2f4;
}

body,
p {
  font: normal 20px/1.25rem "VT323", monospace;
}

h1 {
  font: normal 2.75rem/1.05em "VT323", monospace;
}

h2 {
  font: normal 2.25rem/1.25em "VT323", monospace;
}

h3 {
  font: lighter 1.5rem/1.25em "VT323", monospace;
}

h4 {
  font: lighter 1.125rem/1.2222222em "VT323", monospace;
}

body {
  background: #0414a7;
}

table{
    border: 2px solid rgb(186, 186, 186);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    stroke-width: 1px;
}

td,th{
    border: 2px solid rgb(186, 186, 186);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

button{
    font: normal 20px/1.25rem "VT323", monospace;
}

input[type='email'],input[type='text'] {

	width: 88%;
	height: 41px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: rgba(0,0,0,0.2);
    border: 2px solid rgb(186, 186, 186);
	outline: none;
	font-size: 16px;
	font-weight: 300;
	color: white;
	font: normal 20px/1.25rem "VT323", monospace;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	border-radius: 0px;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 640px;
}

.bsod {
  padding-top: 10%;
}
.bsod .neg {
  text-align: center;
  color: #0414a7;
}
.bsod .neg .bg {
  background: #aaaaaa;
  padding: 0 15px 2px 13px;
}
.redneg {
    padding-top: 10%;
    text-align: center;
    background: #d00000;
    padding: 0 15px 2px 13px;
}
.bsod .title {
  margin-bottom: 50px;
}
.bsod .nav {
  margin-top: 35px;
  text-align: center;
}
.bsod .nav .link {
  text-decoration: none;
  padding: 0 9px 2px 8px;
}
.bsod .nav .link:hover, .bsod .nav .link:focus {
  background: #aaaaaa;
  color: #0414a7;
}
.linkcool:hover {
  background: #aaaaaa;
  color: #0414a7;
}
.linkcoolred:hover {
  background: #d40000;
  color: #fcfcfc;
}